*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP';
    letter-spacing: 1px;
    color: #555;
    font-size: 16px;
    word-break: break-all;
}

h1{
    font-size: 22px;
    letter-spacing: 2px;
    margin: 10px 0;
}

.clear{
    clear:both;
}

.font-warning{
    color:red;
    font-weight: bold;
}

.font-bold{
    font-weight: bold;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: 0 0 10px 0;
}

#header-left ul li{
    float:left;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 10px 0 10px 0;
}

#header-right ul li{
    float:right;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 10px 0 10px 0;
}



/* login form */
.login-form{
    margin: 70px auto;
    width: 500px;
}

.login-form button{
    width: 100%;
}

/* signup form */
.signup-form{
    margin: 70px auto;
    width: 500px;
}

.signup-form .form-group{
    margin: 10px 0 10px 0;
}

.signup-form button{
    width: 100%;
}

/* main contents list */
.contents-box{
    display: block;
    color: #555;
    text-decoration: none;
    height: 50px;
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}


/* contents.html */
#contents-title{
    border-bottom: 1px solid #eee; 
}

#contents-header-container{
    padding: 10px 0 10px 0;
}

#contents-header-container ul li{
    list-style: none;
    background-color: #eee;
    margin: 0 20px 0 0;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    float: left;
    display: block;
}

#contents-main-container{
    border: 1px solid #eee;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 20px 0;
    border-radius: 4px;
}

/* account */
#account-profile-img{
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
}


#account-profile-container{
    border: 1px solid #eee;
    padding: 10px;
    margin: 0 0 20px 0;
}


#account-setting-container{
    border: 1px solid #eee;
    padding: 10px;
}

#account-setting-list-container-ul{
    display: block;
    border: 1px solid #eee;
    padding: 20px 0 20px 30px;
}



/* edit-profile.html */
#edit-profile-container{
    border: 1px solid #eee;
    padding: 20px 30px 20px 30px;
}

#edit-profile-container h2{
padding: 10px 0 10px 0;
}


/* provisional_signup_completed.html */
#provisional-signup-completed-container{
    padding: 10px 10px 10px 10px;
}

#provisional-signup-completed-title{
    letter-spacing: 2px;
}

#provisional-signup-completed-description{
    padding: 20px 0 20px 0;
}

/* post */
#post-container{
    
}