*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.clear{
    clear:both;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    margin: 0 0 10px 0;
}

#header-left ul li{
    float:left;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 10px 0 10px 0;
}

#header-right ul li{
    float:right;
    list-style: none;
    margin: 0 10px 0 0;
    padding: 10px 0 10px 0;
}

/* main contents list */
.contents-box{
    display: block;
    color: #555;
    text-decoration: none;
    height: 50px;
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
}


/* contents.html */
#contents-title{
    border-bottom: 1px solid #eee; 
}

#contents-header-container{
    padding: 10px 0 10px 0;
}

#contents-header-container ul li{
    list-style: none;
    background-color: #eee;
    margin: 0 20px 0 0;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    float: left;
    display: block;
}

#contents-main-container{
    border: 1px solid #eee;
    padding: 10px 10px 10px 10px;
    margin: 20px 0 20px 0;
    border-radius: 4px;
}

/* account */
#account-profile-img{
    width: 100px;
    height: 100px;
    border: 1px solid #eee;
}


#account-profile-container{
    border: 1px solid #eee;
    padding: 10px;
    margin: 0 0 20px 0;
}


#account-setting-container{
    border: 1px solid #eee;
    padding: 10px;
}

#account-setting-list-container-ul{
    display: block;
    border: 1px solid #eee;
    padding: 20px 0 20px 30px;
}



/* edit-profile.html */
#edit-profile-container{
    border: 1px solid #eee;
    padding: 20px 30px 20px 30px;
}

#edit-profile-container h2{
padding: 10px 0 10px 0;
}