{% extends "layout.html" %} 
{% block body %}
<!-- copy html from here -->
<!-- using "contents.html" from here -->
<div id="contents-container">
    <h2 id="contents-title">Title</h2>
    <div id="contents-header-container">
        <ul>
            <li><a href="user?uid=123">author</a></li>
            <li>timeStamp</li>
            <li>description</li>
        </ul>
    </div>
    <div class="clear"></div>
    <div id="contents-main-container">
        <p>This inclueds main contents.</p>
    </div>
</div>
<!-- using "contents.html" to here -->
<!-- copy html to here -->
{% endblock %}