<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Enter the title -->
    <title>Worko</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://fb.me/react-0.13.3.js"></script>
    <script src="http://fb.me/JSXTransformer-0.13.3.js"></script>
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>

<body>
    <header>
        <!-- Edit header contents if necessary -->
        <div id="header-left">
            <ul>
                <li>
                    <a href="/">Worko</a>
                </li>
            </ul>
        </div>
        <div id="header-right">
            <ul>
                {% if username == False: %}
                <li>
                    <a href="/signup">新規登録</a>
                </li>
                <li>
                    <a href="/login">ログイン</a>
                </li>
                {% else %}
                <li>
                    <a href="/logout">ログアウト</a>
                </li>
                <li>
                    <a href="/account">{{userid}}{{username}}</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="clear"></div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">{% block body %}{% endblock %}</div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</body>

</html>