{% extends "layout.html" %} {% block body %}
<form action="provisional_signup" method="post" class="signup-form">
    <h1>新規登録</h1>
    {% if validation_results != None: %}
    <div class="form-validation-error-container">
        <ul>
        {% for result in validation_results: %}
        <li class="font-warning">{{result}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="form-group">
        {% if email != None: %}
        <input name="email" type="email" class="form-control" placeholder="メールアドレス" value="{{email}}" required autofocus>
        {% else %}
        <input name="email" type="email" class="form-control" placeholder="メールアドレス" value="" required autofocus>
        {% endif %}
    </div>
    <div class="form-group">
            {% if username != None: %}
            <input name="username" type="name" class="form-control" placeholder="ユーザーネーム" value="" required autofocus>
            {% else %}
            <input name="username" type="name" class="form-control" placeholder="ユーザーネーム" value="" required autofocus>
            {% endif %}
        </div>
    <div class="form-group">
        <input name="password" type="password" class="form-control" placeholder="パスワード" value="" required autofocus>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="パスワード（再入力）" value="" required autofocus>
    </div>
    
    <button type="submit" class="btn btn-primary">登録する</button>
</form>
{% endblock %}